<h2>Log In</h2>
<div>
<form (submit)="loginUser($event)">
  <input type="email" placeholder="Username" [(ngModel)]='username' name="username" id="username">
  <input type="password" placeholder="Password" [(ngModel)]='password' name="password" id="password">
  <button type="submit">Submit</button>
</form>
</div>



<h2>Create New User</h2>
<div>
  <form (submit)="createUser($event)">
    <input type="email" placeholder="Username" [(ngModel)]='newusername' name="newusername" id="newusername">
    <input type="password" placeholder="Password" [(ngModel)]='newpassword' name="newpassword" id="newpassword">
    <button type="submit">Submit</button>
  </form>
  </div>


